@layer components {
  .theme-picker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: var(--space-4);

    &:focus-visible {
      outline: 2px solid var(--accent);
      outline-offset: 2px;
    }

    &[data-orientation='vertical'] {
      & .theme-picker__circles {
        flex-direction: column;
        block-size: 7rem;
      }
    }

    &[data-orientation='horizontal'] {
      & .theme-picker__circles {
        flex-direction: row;
        inline-size: 8rem;
      }
    }
  }

  .theme-picker__circles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .theme-option {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  .theme-option__circle {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    border-radius: var(--radius-full);
    box-shadow: 0 2px 6px rgb(from #000 r g b / 0.15);
  }

  .theme-option__border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    inline-size: 2rem;
    block-size: 2rem;
    pointer-events: none;
    color: var(--accent);
  }
}
