@layer components {
  .footer-block {
    position: absolute;
    inset-block-end: 0.5rem;
    inset-inline-start: 0;
    inline-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    & .clock-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &[data-device='mobile'] {
        display: flex;
      }

      &[data-device='desktop'] {
        display: none;
      }
    }

    & .clock-text {
      font-family: var(--font-argon);
      font-weight: 500;

      &[data-version='mobile'] {
        font-size: 1rem;
      }

      &[data-version='desktop'] {
        font-size: 1.25rem;
      }

      @media (width >= 768px) {
        &[data-version='mobile'] {
          font-size: 1.125rem;
        }
      }
    }

    & .clock-zh {
      font-family: var(--font-zi);
      translate: 0 -0.125rem;
      font-size: 21px;
    }

    @media (width >= 768px) {
      & .clock-zh {
        font-size: 26px;
      }
    }

    @media (width >= 1024px) {
      &.footer-block {
        inset-block-end: 1rem;
      }

      & .clock-container {
        &[data-device='mobile'] {
          display: none;
        }

        &[data-device='desktop'] {
          display: flex;
        }
      }
    }
  }
}
