@layer components {
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-8);
    margin-block-start: 1rem;
  }

  .logo-button {
    width: fit-content;
  }

  .logo-title {
    font-family: var(--font-krypton);
    text-align: center;
    font-size: 1.6rem;
    font-weight: var(--font-bold);
    margin-bottom: 0;
  }

  @media (width >= 48rem) {
    .logo-containter {
      margin-block-start: 0;
    }
    .logo-title {
      font-size: 2.25rem;
    }
  }
}
