@layer components {
  .tldr-button {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    margin-bottom: var(--space-4);
    place-self: start;
  }

  .tldr-button__title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .tldr-button__arrow {
    width: 0.75rem;
    height: 0.75rem;
    font-weight: var(--font-bold);
  }

  @media (width >= 48rem) {
    .tldr-button__title {
      font-size: 1.25rem;
    }

    .tldr-button__arrow {
      width: 1rem;
      height: 1rem;
    }
  }

  .tldr-button__trigger {
    display: flex;
    align-items: center;
    color: var(--foreground);
    justify-content: center;
    gap: var(--space-2);
    font-size: 1rem;
    font-weight: var(--font-semibold);
  }

  .tldr-button__zap {
    transform: translateY(-4px);
    color: var(--foreground);
    width: 1rem;
    height: 1rem;
  }

  @media (width >= 48rem) {
    .tldr-button__trigger {
      font-size: 1.25rem;
    }
  }
}
