@layer components {
  .container-outer {
    padding-inline: 1.875rem;

    &[data-full-width] {
      width: 100%;
    }

    &[data-full-width] .container-inner {
      margin-inline: initial;
      max-width: none;
    }
  }

  .container-inner {
    margin-inline: auto;
    max-width: 42rem;
  }

  @media (width >= 64rem) {
    .container-outer {
      padding-inline: 10rem;
    }

    .container-inner {
      max-width: 80rem;
    }
  }
}
