@layer components {
  .background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -999;

    & .background-grainient {
      inline-size: 100%;
      block-size: 100%;
    }
  }
}
